<!DOCTYPE html>
<html>
<head>
  <title>TicketPunch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless current_user %>
    <nav>
      <a href="/" class="btn btn-info">Home</a>
      <a href="/users/new" class="btn btn-info">Sign-Up</a>
      <a href="/users/log-in" class="btn btn-info">Log-In</a>
    </nav>
  <% end %>

<%= yield %>



</body>
</html>
